.main{
    max-width: 1280px;
    margin: 0 auto;
}
.main .mains:active{
    border-bottom: 5px solid #0c0c0c11;
    transition: 0.2s cubic-bezier();
  
    
}
.main .servicess:active {
    border-bottom: 5px solid #0c0c0c11;
    transition: 0.2s cubic-bezier();
  
}
h1 {
    color: blue;
    font-family: sans-serif;
}
h1 span {
    color: black;
}
.mains a {
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.servicess a {
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.containers {
    display: flex;
    gap: 20px;
}
// Responsive Design
@media only screen and (max-width:1060px){
    .main {
      max-width:none;
      width:100%;
      padding:10px;
    }
}