<div class="main">
    <div class="content_1">
        <div class="page_content-left">
            <h1>Backend api, veb-saytlar, <span>bozorlar, ajoyib UX/UI dizaynli web-sahifalar ishlab chiqamiz</span> </h1>
            <h2>Texnik yordam ko'rsatamiz.</h2>
            <button (click)="OpenModul()"  mat-raised-button  class="button_page">
              Loyihani Muhokama qilish  </button>
        </div>
        <div  class="page_content-right">
            <form action="">
                <div class="form_page">
                    <h3>So'rov qoldiring</h3>
                    <h5>Biz siz bilan bog'lanamiz,
                     loyiha muhokamasi uchun</h5>
                     <div class="form_input">
                        <input type="text" placeholder="Ism">
                        <input type="text" placeholder="Telefon">
                        <input type="text" placeholder="@Telegram">
                       
                </div> <div class="button_page"><button mat-raised-button >Jo'natish</button></div>  
                     
                </div>
            </form>
        </div>
       
    </div>
    <div class="content_2">
        <div class="page_content-2">
            <div class="pages_img"><img src="./assets/eccomerse1.jpg" alt="backend_img"></div>
            <div class="pages_title">
                <h2>Backend loyihalar va API  ishlab chiqish</h2>
                <p>Loyiha turiga va uning vazifalariga qarab, mahalliy , shuningdek Java yordamida professional loyihalar Java Spring yordamida ishlab chiqish</p>
        <div class="flex_box">
           <div class="pages_button">
            <button class="button_submits" mat-raised-button >Buyurtma berish</button>
           </div></div>   
            </div>
        </div>
    </div>
    <div class="content_3">
        <div class="page_content-3">
            <div class="pages_text">
                <h2>Bozorlar, onlayn-do'konlar,taksilar,oziq-ovqat yetkazib berish va boshqalarni yaratamiz</h2>
                <p>Biz chiroyli dizayn, qulay mahsulot kartalari bilan onlayn sotuvlar uchun zamonaviy ilovalar va web-saytlarni yaratamiz, to'lov va yetkazib berish tizimlarini ulaymiz, ekvayringini o'rnatamiz,CRM va ombor ma'lumotlar bazalari bilan integratsiya qilamiz.</p>
                <div class="pages_button"><button class="button_submits" mat-raised-button>Buyurtma berish</button></div>
            </div>
            <div class="pages_img">
                <img src="./assets/eccomerse.jpg" alt="eccomerse_img">
            </div>
        </div>
    </div>
    <div class="content_4">
        <div class="page_content-4">
            <div class="pages_right"></div>
            <div></div>
        </div>
    </div>
</div>
