.main {
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    padding:10px;
}

.content_1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 40px;
}

.page_content-left h1 {
    color: black;
    font-family: sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 70px;
    width: 580px;
}

.page_content-left h1 span {

    color: rgb(71 85 105);
}

.page_content-left h2 {
    color: rgb(30 41 59);
    font-size: 2.2rem;
    font-weight: 100;
    line-height: 2rem;
}

// #d946ef #d946ef;
.page_content-left .button_page {
    width: 400px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px;
    font-size: 1rem;
    color: #ffff;
    background-image: linear-gradient(90deg, #d946ef 0, #8b5cf6);
    margin-top: 4px;
    cursor: pointer;
}

.page_content-left .button_page:hover {
    background-image: linear-gradient(90deg, #8b5cf6, #d946ef);
}

.page_content-right {
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: -20px;
    height: 550px;
    -webkit-box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(243 244 246)
}

.page_content-right form .form_page h3 {
    color: rgb(71 85 105);
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
}

.page_content-right form .form_page h5 {
    text-align: center;
    color: rgb(71 85 105);
    font-size: 1rem;
    font-weight: 200;
}


.form_input {
    text-align: center;
  
}
.page_content-right form .form_page .form_input input {
    margin:10px;
    width:250px;
    height: 40px;
    text-align: center;
  
     border-radius: 6px;
     outline: none;
    border: 1px solid rgb(203 213 225 );
}
.page_content-right form .form_page  {
    text-align: center;
}
.page_content-right form .form_page  .button_page {
text-align: center;
margin-top: 20px;
}
.page_content-right form .form_page  .button_page button {
    background-image: linear-gradient(90deg , #06b6d4 , #3b82f6);
    width: 180px;
    color: #fff;
    height:50px;
    border-radius: 8px;
   font-family: sans-serif;
   font-weight: 400;
    // #3b82f6; #06b6d4
}
.page_content-right form .form_page  .button_page button:hover {
    background-image: linear-gradient(90deg , #3b82f6 , #06b6d4 );
}
.content_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_2 .page_content-2 {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    width:1000px;
    background-color: rgb(243 244 246);
    height: 300px;
    transition: 0.4s;
    cursor: pointer;
   border-radius: 10px;
   border: 1px solid rgb(203 213 225 );
   -webkit-box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
   -moz-box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
   box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
}
.content_2 .page_content-2:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pages_img  img {
    width: 420px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
.pages_img  img:hover {
   transform: scale(1.1);
}
.pages_title {
    margin-top: 70px;
    margin-left: 30px;
}
.pages_title h2{
font-family: sans-serif;
font-size: 1.6rem;
font-weight: 400;
}
.pages_title p {
    font-size: 0.95rem;
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(22, 25, 29);
  
}

.pages_button .button_submits {
    background-image: linear-gradient(90deg , #06b6d4 , #3b82f6);
    width: 180px;
    color: #fff;
    height:40px;
    border-radius: 8px;
   font-family: sans-serif;
   font-weight: 400;
//    margin-left: 30px;
}
.button_submits:hover {
    background-image: linear-gradient(90deg , #3b82f6 , #06b6d4 );
}
.flex_box {
    display: flex;
    justify-content: center;
}
.content_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_3 .page_content-3 {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    width:1000px;
    background-color: rgb(243 244 246);
    height: 300px;
    cursor: pointer;
    transition:0.3s;
   border-radius: 10px;
   border: 1px solid rgb(203 213 225 );
   -webkit-box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
   -moz-box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
   box-shadow: 1px 9px 23px 6px rgba(34, 60, 80, 0.08);
}
.content_3 .page_content-3:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pages_text {
    padding-top: 15px;
    padding-left: 10px;
}
.pages_text h2 {
font-family: sans-serif;
font-weight: 400;
width:480px;
font-size: 1.5rem;
color: black;
}
.pages_text p {
 font-size: 0.96rem;
    font-family: sans-serif;
    width: 500px;
}
.page_content-3 .pages_text .pages_button button {
    background-image: linear-gradient(90deg , #06b6d4 , #3b82f6);
    width: 180px;
    color: #fff;
    height:40px;
    border-radius: 8px;
   font-family: sans-serif;
   font-weight: 400;
}
.page_content-3 .pages_text .pages_button button:hover {
    background-image: linear-gradient(90deg , #3b82f6 , #06b6d4 );
}
.pages_button {
    display: flex;
    justify-content: center;
}
.pages_img img {
    width: 420px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
.page_content-4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.page_content-4 .pages_right {
    width: 400px;
    -webkit-box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 19px 43px 6px rgba(34, 60, 80, 0.2);
    height: 500px;
}

.pages_4-title h1 {
    color: black;
    font-family: sans-serif;
    font-size:2rem;
    font-weight: 500;
    margin-top: 20px;
}
.pages_4-title p {
    margin-left: 5px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
    color: rgb(71 85 105);
}
.pages_4-title {
    text-align: center;
}
.card_top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.port-box {
 margin-top: 30px;
    width: 380px;
    border-radius: 6px;
    height: 360px;
    -webkit-box-shadow: 12px 11px 39px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 11px 39px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 11px 39px 0px rgba(34, 60, 80, 0.2);
 
    transition:1s;
    cursor: pointer;
}
.port-box:hover {
    transform: scale(1.1);
      z-index: 9999;
}
.port-box .port_img img {
    width: 380px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px;
}
.port_text {
    text-align: start;
    padding: 10px;
}
.port_text h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}
.port_text p {
    color: rgb(22, 25, 29);
    font-size: 1rem;
    font-weight: 300;

}
.port_img {
    border-bottom: 1px solid;
}
.page_content-6 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.pages_titles h1 {
    color: black;
    margin-top:70px;
    font-size: 3.5rem;
    line-height: 60px;
    width:600px;
    font-family:sans-serif;
}
.mains {
    width:100%;
   
      background-color: rgb(17 24 39 );
      height:200px;
      padding: 20px;
      
  }

  .pages-footer-1 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  }
  .pages-footer-1 .footers_title h1 {
    color: blue;
    font-family: sans-serif;
}
.pages-footer-1 .footers_title h1 span {
    color: black;
}
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: sans-serif;
}
// Responsive Design
@media only screen and (max-width:1221px){
    .main {
        width: 100%;
    }
.port-box {
    width: 350px;
}
.mains {
    width: 100%;
}
.port-box .port_img img {
    width:350px;
}
.page_content-right {
    margin-left: 50px;
}
}
@media only screen and (max-width:1150px){
    .page_content-right {
        margin-left: 10px;
    }
    .port-box {
        width: 320px;
    }
    .port-box .port_img img {
        width:320px;
    }
}
@media only screen and (max-width:1060px){
    .mains {
        width: 100%;
    }
    .page_content-right {
        display: none;
    }
    .page_content-left {
        text-align: center;
    }
    .page_content-left h1 {
        width: 930px;
        min-width: 100px;
    }
    .port-box {
        width: 280px;
    }
    .port-box .port_img img {
        width:280px;
    }
    .page_content-right {
        margin-left: 50px;
    }
   .content_2 .page_content-2 {
        width:900px;
    }
    .content_2 .page_content-2 .pages_img img {
        width: 350px;
    }
    .content_3 .page_content-3 {
        width:900px;
    }
    .content_3 .page_content-3 .pages_img img {
        width: 350px;
    }
   .page_content-6   .pages_titles h1 {
        color: black;
        margin-top:40px;
        font-size: 3rem;
        line-height: 50px;
        width:900px;
        font-family:sans-serif;
    }
}

@media only screen and (max-width:960px){
    .main {
        max-width:none;
        width:100%;
        padding-bottom: 10px;
        padding: 0;
    }
    .mains {
        width: 100%;
       
    }
} 
@media only screen and (max-width:936px){
    .main {
       
        width:100%;
        padding-bottom: 10px;
        padding: 10px;
        margin: 0;
    }
    .mains {
       
        padding: 0;
        margin: 0;
        min-width: 100px;
        padding: none;
        width: 956px;
       
    }
    .card_port {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
    }
    .content_2 .page_content-2 {
        width:890px;
        margin-left:50px
    }
    .content_2 .page_content-2 .pages_img img {
        width: 300px;
    }
    .content_3 .page_content-3 {
        width:840px;
        margin-left:50px;
    }
    .content_3 .page_content-3 .pages_img img {
        width: 300px;
    }
    .page_content-6 .pages_titles h1{
        margin-left:100px;
        text-align: center;
        font-size: 2.4rem;
           }
}
@media only screen and (max-width:877px){
    .content_2 .page_content-2 {
        width:830px;
        margin-left: 50px;
    }
    .content_2 .page_content-2 .pages_img img {
        width: 200px;
    }
    .content_3 .page_content-3 {
        width:830px;
        margin-left: 50px;
      
    }
    .content_3 .page_content-3 .pages_img img {
        width: 200px;
        margin-left:20px;
    }
    .content_3 .page_content-3 .pages_text p {
        width: 400px;
        font-size: 0.95rem;
    }
    .content_3 .page_content-3 .pages_text h2 {
        width: 400px;
        font-size: 1.4rem;
    
    }
    .content_3 .page_content-3 {
        padding:0px;
    }
    .content_4 {
        margin-left: 50px;
    }
    .card_port {
        margin-left: 30px;
    }
    .port-box .port_img img {
        width:260px;
    }
    .port-box {
        width:260px;
    }
}
@media only screen and (max-width:808px){
    .content_4 {
        margin-left: 120px;
    }
    .mains {
        min-width: 99%;
    }
}
@media only screen and (max-width:770px){
    .content_4 {
        margin-left: 100px;
    }
    .content_2 .page_content-2 {
        width:790px;
        margin-left: 100px;
    }
    .content_2 .page_content-2 .pages_img img {
        width: 200px;
    }
    .content_3 .page_content-3 {
        width:790px;
        margin-left:100px;
    }
    .content_3 .page_content-3 .pages_img img {
        width: 200px;
        margin-left:20px;
    }
    .page_content-6 .pages_titles h1{
 margin-left:100px;
 text-align: center;
 font-size: 2.2rem;
    }
    .content_4 {
        margin-left: 150px;;
    }
}
// @media only screen and (max-width:710px){
  
//     .page_content-6 .pages_titles h1{
//         margin-left:190px;
//         text-align: center;
//         font-size: 2.2rem;
//            }
//            .content_2 .page_content-2 {
//             width:950px;
//             margin-left: 100px;
//         }
//         .content_2 .page_content-2 .pages_img img {
//             width: 200px;
//         }
//         .content_3 .page_content-3 {
//             width:950px;
//             margin-left:100px;
//         }
//         .content_3 .page_content-3 .pages_img img {
//             width: 200px;
//             margin-left:20px;
//         }
// }

@media only screen and (max-width:748px){
    .content_2 .page_content-2 {
        flex-direction: column;
        height: auto;
        padding: 10px;
  
        min-width: 800px;
        transition: none;
        margin-left:200px;
    }
    .content_2 .page_content-2 .pages_title h2{
              font-size: 3.9rem;
              line-height: 70px;
    }
    .content_2 .page_content-2 .pages_title   p {
        font-size: 2rem;
        width: 100%;
        line-height: 50px;
    }
    .content_2 .page_content-2 .pages_img img  {
        width: 100%;
    }
    .content_3 .page_content-3 {
        flex-direction: column;
        height: auto;
        padding: 10px;
  
        min-width: 800px;
        transition: none;
        margin-left:200px;
    }
    .content_3 .page_content-3 .pages_img img  {
        width: 100%;
        margin-left: 0px;
    }
    #pages h2{
        width: 100%;
        font-size: 3.9rem;
        line-height: 80px;
}
#pages p {
    font-size: 2rem;
    width: 100%;
    line-height: 50px;
}

    .content_2 {
        margin-left: 180px;
    }
    .content_3 {
        margin-left:180px
    }
    .content_4 {
        margin-left: 340px;
    }
    .page_content-left h1 {
        width: 950px;
        min-width: 100px;
        line-height: 90px;
        font-size:4.5rem;
    }
    .page_content-left .button_page {
        font-size: 2rem;
        min-width:500px;
    }
    .card_top-page {
        flex-direction: column;
        // margin-left: 200px;
    }
    .port-box {
        height: auto;
        padding: 20px;
  
        min-width: 800px;
     
      
    }
    .port-box .port_img img {
width:100%;
height: 300px;
    }
    .port-box .port_text  {
        margin-top: 30px;
    }
     .port-box .port_text h2{
        font-size: 3.5rem;
     }
     .port-box .port_text p {
        font-size: 2rem;
        line-height: 50px;
     }
     .page_content-6 .pages_titles h1{
        margin-left:360px;
        text-align: center;
        font-size: 2.9rem;
           }
           .copy h1 {
            font-size:2.3rem;
            margin-top:20px;
           }
           .pages-footer-1 .footers_title h1  {
            font-size: 2rem;
      
           }
           .pages-footer-1 {
            margin-top:30px;
           }
}
@media only screen and (max-width:480px){
    .card_top-page {
        margin-left: 100px;
    }
    .content_2 {
        margin-left:280px
    }
    .content_3 {
        margin-left:280px
    }
    .page_content-6 .pages_titles h1{
        margin-left:460px;
        text-align: center;
        font-size: 2.3rem;
           }
           .pages_4-title h1 {
            text-align: center;
            margin-left: 100px;
            font-size: 4.3rem;
            width:600px;
           }
           .pages_4-title p {
            font-size: 2rem;
            width: 600px;
            line-height: 50px;
            margin-left: 100px;
           }
           #buttons {
            width: 500px;
            margin: 20px;
            font-size:2rem;
           }
}
// @media only screen and (max-width:413px){
//     .content_2 {
//         margin-left: 300px;

//     }
//     .content_3 {
//         margin-left: 300px;
//     }
//     .pages_4-title p {
//         font-size: 1rem;
//         width: 600px;
//         line-height: 50px;
//         margin-left: 100px;
//        }
//        #buttons {
//         width: 500px;
//         margin: 20px;
//         font-size:1rem;
//        }
//        .content_2 .page_content-2 {
//         flex-direction: column;
//         height: auto;
//         padding: 10px;
//   width:auto;
//         min-width: auto;
//         transition: none;
//         margin-left:200px;
//     }
//     .content_2 .page_content-2 .pages_title h2{
//               font-size: 3.9rem;
//               line-height: 70px;
//     }
//     .content_2 .page_content-2 .pages_title   p {
//         font-size: 2rem;
//         width: 100%;
//         line-height: 50px;
//     }
//     .content_2 .page_content-2 .pages_img img  {
//         width: 100%;
//     }
//     .content_3 .page_content-3 {
//         flex-direction: column;
//         height: auto;
//         padding: 10px;
//     width:auto;
//         min-width: auto;
//         transition: none;
//         margin-left:200px;
//     }
//     .content_3 .page_content-3 .pages_img img  {
//         width: 100%;
//         margin-left: 0px;
//     }
//     #pages h2{
//         width: 100%;
//         font-size: 3.9rem;
//         line-height: 80px;
// }
// #pages p {
//     font-size: 2rem;
//     width: 100%;
//     line-height: 50px;
// }

//     .content_2 {
//         margin-left: 180px;
//     }
//     .content_3 {
//         margin-left:180px
//     }
//     .content_4 {
//         margin-left: 340px;
//     }
//     .page_content-left h1 {
//         width: 950px;
//         min-width: 100px;
//         line-height: 90px;
//         font-size:4.5rem;
//     }
//     .page_content-left .button_page {
//         font-size: 2rem;
//         min-width:auto;
//     }
//     .card_top-page {
//         flex-direction: column;
//         // margin-left: 200px;
//     }
//     .port-box {
//         height: auto;
//         padding: 20px;
  
//         min-width: 800px;
     
      
//     }
//     .port-box .port_img img {
// width:100%;
// height: 300px;
//     }
//     .port-box .port_text  {
//         margin-top: 30px;
//     }
//      .port-box .port_text h2{
//         font-size: 3.5rem;
//      }
//      .port-box .port_text p {
//         font-size: 2rem;
//         line-height: 50px;
//      }
//      .page_content-6 .pages_titles h1{
//         margin-left:360px;
//         text-align: center;
//         font-size: 2.9rem;
//            }
//            .copy h1 {
//             font-size:2.3rem;
//             margin-top:20px;
//            }
//            .pages-footer-1 .footers_title h1  {
//             font-size: 2rem;
      
//            }
//            .pages-footer-1 {
//             margin-top:30px;
//            }
//            .page_content-left h1{
// width:700px;
// min-width:50px;
// font-size: 2.6rem;
// margin-left: 50px;
// line-height: 50px;
//            }
// }