
    <div  class="page_content-right">
        <form action="">
            <div class="form_page">
                <h3>So'rov qoldiring</h3>
                <h5>Biz siz bilan bog'lanamiz,
                 loyiha muhokamasi uchun</h5>
                 <div class="form_input">
                    <input type="text" placeholder="Ism">
                    <input type="text" placeholder="Telefon">
                    <input type="text" placeholder="@Telegram">
                   
            </div> <div class="button_page"><button mat-raised-button >Jo'natish</button></div>  
                 
            </div>
        </form>
    </div>

