<div class="main">
    <div class="content_1">
        <div class="content_title"><h1>Bizning xizmatlar</h1>
        <h2> King Soft-bu digital production studia</h2>
        <p>Pastda bizning mijozlarimiz uchun 2ta yo'nalish ko'rsatilgan. Agar sizga biror boshqa narsa kerak bo'lsa, biz bilan bog'laning, muhokama qilamiz, balki biz sizga yordam bera olarmiz !</p></div>
        
    </div>
    <div class="content_2">
        <div class="page_content-2">
            <div class="pages_img"><img src="./assets/eccomerse1.jpg" alt="backend_img"></div>
            <div class="pages_title">
                <h2>Backend loyihalar va API  ishlab chiqish</h2>
                <p>Loyiha turiga va uning vazifalariga qarab, mahalliy , shuningdek Java yordamida professional loyihalar Java Spring yordamida ishlab chiqish</p>
        <div class="flex_box">
           <div class="pages_button">
            <button id="buttons" class="button_submits" mat-raised-button >Buyurtma berish</button>
           </div></div>   
            </div>
        </div>
    </div>
    <div class="content_3">
        <div class="page_content-3">
            <div id="pages" class="pages_text">
                <h2>Bozorlar, onlayn-do'konlar,taksilar,oziq-ovqat yetkazib berish va boshqalarni yaratamiz</h2>
                <p>Biz chiroyli dizayn, qulay mahsulot kartalari bilan onlayn sotuvlar uchun zamonaviy ilovalar va web-saytlarni yaratamiz, to'lov va yetkazib berish tizimlarini ulaymiz, ekvayringini o'rnatamiz,CRM va ombor ma'lumotlar bazalari bilan integratsiya qilamiz.</p>
                <div class="pages_button"><button id="buttons" class="button_submits" mat-raised-button>Buyurtma berish</button></div>
            </div>
            <div class="pages_img">
                <img src="./assets/eccomerse.jpg" alt="eccomerse_img">
            </div>
        </div>
    </div>
    <div class="content_4">
        <div class="container_card-page">
            <div class="card-1 card">
                <div class="card-1_text card-text">
                    <h3>Promo saytlar yaratish</h3>
                    <p>Biz mijoz, tadbir, mahsulot, reklama va boshqalar etiborini jalb qilish uchun zamonaviy veb-saytni ishlab chiqamiz</p>
                    <button id="buttons" class="button_submits" mat-raised-button >Buyurtma berish</button>   </div>
          
            </div>
            <div class="card-2 card">
                <div class="card-2_text card-text">
                    <h3>Loyihani ishlab chiqish va yaxshilash</h3>
                    <p>Biz mijoz, tadbir, mahsulot, reklama va boshqalar etiborini jalb qilish uchun zamonaviy veb-saytni ishlab chiqamiz</p>
                    <button id="buttons" class="button_submits" mat-raised-button >Buyurtma berish</button>   </div>
          
            </div> <div class="card-3  card">
                <div class="card-3_text card-text">
                    <h3>Bir sahifali sayt yaratish</h3>
                    <p>Biz mijoz, tadbir, mahsulot, reklama va boshqalar etiborini jalb qilish uchun zamonaviy veb-saytni ishlab chiqamiz</p>
                    <button id="buttons" class="button_submits" mat-raised-button >Buyurtma berish</button>   </div>
          
            </div>
        </div>
        <div class="container_card-page">
            <div class="card-4 card">
                <div class="card-4_text card-text">
                    <h3>Texnik yordam</h3>
                    <p>Loyiha infratuzilmasini kechayu kunduz monitoring tamirlash</p>
                 
                    <button id="buttons" class="button_submits" mat-raised-button >Tez orada !</button>   </div>
          
            </div>
            <div class="card-2 card">
                <div class="card-2_text card-text">
                    <h3>Loyihalarni takomilashtirish va ishlab chiqish</h3>
                    <p>Loyihangiz yanda optimal va professional qilish</p>
                    <button id="buttons" class="button_submits" mat-raised-button >Tez orada !</button>   </div>
          
            </div> <div class="card-3  card">
                <div class="card-3_text card-text">
                    <h3>Informatsion xavfsizlik</h3>
                    <p>Sizning ilovangizdagi ma'lumotlarni xavfsizligi</p>
                    <button id="buttons" class="button_submits" mat-raised-button >Tez orada !</button>   </div>
          
            </div>
        </div>
     
    </div>
    <div class="content_5"><div class="page_content-6">
        <div class="pages_titles">
            <h1>So'rov qoldiring, biz siz bilan bog'lanamiz.</h1>
        </div>
        <div  class="page_content-right">
            <form action="">
                <div class="form_page">
                    <h3>So'rov qoldiring</h3>
                    <h5>Biz siz bilan bog'lanamiz,
                     loyiha muhokamasi uchun</h5>
                     <div class="form_input">
                        <input type="text" placeholder="Ism">
                        <input type="text" placeholder="Telefon">
                        <input type="text" placeholder="@Telegram">
                       
                </div> <div class="button_page"><button mat-raised-button >Jo'natish</button></div>  
                     
                </div>
            </form>
        </div>
    </div></div>
</div>
<div class="mains">
    <footer>
        <div class="pages-footer-1">
            <div class="footers_title"><h1>King<span>Soft</span></h1></div>
            <div><img src="./assets/telegram.png" alt="Telegram logo"></div>
        </div>
        <div class="copy">
            <h1>Copyright Barcha Huquqlar Himoyalangan 2024</h1>
        </div>
    </footer>
</div>
